{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<form method="post" id="formConnexion" class="col-4 mx-auto">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h1 class="my-4 font-weight-normal text-center">Connectez-vous</h1>
    <label class="my-1" for="inputEmail">Adresse e-mail</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-4" autocomplete="email" required autofocus>
    <label class="my-1" for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    
    <button class="mt-5 btn btn-lg btn-primary d-block mx-auto" type="submit">
        Me connecter
    </button>
</form>
{% endblock %}