{% extends 'base.html.twig' %}

{% block title %}Carte des établissements scolaires{% endblock %}

{% block body %}
    <h2 class="text-center my-4">Liste des établissements scolaires de Versailles</h2>
    <div class="mx-auto row justify-content-around col-5 mb-3">
        <div class="form-check mx-auto col-4">
            <div id="buttonEcole">
                <input class="bouttoncheck form-check-input mb-1" type="checkbox" name="Ecole" data-path="{{path('app_map_coordonnees')}}">
                <label class="form-check-label" for="Ecole">Ecole</label>
            </div>
        </div>
        <div class="form-check col-4">
            <div id="buttonCollege">
                <input class="bouttoncheck form-check-input mb-1" type="checkbox" name="Collège" data-path="{{path('app_map_coordonnees')}}">
                <label class="form-check-label" for="College">Collège</label>
            </div>
        </div>
        <div class="form-check col-4">
            <div id="buttonLycee">
                <input class="bouttoncheck form-check-input mb-1" type="checkbox" name="Lycée" data-path="{{path('app_map_coordonnees')}}">
                <label class="form-check-label" for="Lycee">Lycée</label>
            </div>
        </div>
    </div>
    <div id="divMap" class="pb-5">
        <div id="map">
        </div>
    </div>
{% endblock %}
