{% extends 'base.html.twig' %}

{% block title %}Carte des établissements scolaires{% endblock %}

{% block body %}

    <div id="map" data-path="{{path('app_map_coordonnees')}}"></div>

{% endblock %}
