#textAccueil{
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    justify-content: center;
    min-height: 85vh;
}

#test{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#formConnexion{
    min-height: 80vh;
}

#buttonEcole{
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttonCollege{
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttonLycee{
    display: flex;
    justify-content: center;
    align-items: center;
}
#buttonEcole input, #buttonCollege input, #buttonLycee input{
    margin-right: 5px;
}
#divMap{
    display: flex;
    justify-content: center;
    align-items: center;
}
#map{
    height: 500px;
    width: 800px;

}

form{
    display: flex;
    justify-content: s;
}

.col-form-label{
    width: 45%!important;
}