#textAccueil{
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    justify-content: center;
    min-height: 85vh;
}

#test{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#formConnexion{
    min-height: 80vh;
}

#map{
    min-height: 80vh;
}

.conteneur_form{
    display: flex!important;
    justify-content: space-around!important;
}

form{
    margin: 0px!important;

}

form div div{
    display: flex!important;
    justify-content: space-around!important;
}

.col-form-label{
    width: 45%!important;
}