{% extends 'base.html.twig' %}

{% block title %}Liste des établissements{% endblock %}

{% block body %}
    <div class="container mt-5 col-5 text-center">
        <h2 class="my-5">Liste des établissements scolaires de Versailles</h2>
        <table class="table table-bordered my-5 text-center" id="tabListe">
            <thead>
                <th class="text-center p-2">Nom</th>
                <th class="text-center p-2">Type</th>
            </thead>

            <tbody>
                {% for etablissement in listeEtablissements %}
                    <tr><div><map name=""></map></div>
                        <td class="text-center p-2"><a href="{{path('app_map_nom', {'nom': etablissement.nom })}}">{{etablissement.nom}}</a></td>
                        <td class="text-center p-2">{{etablissement.type}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
